.container {
    width: 85%;
}

.bs-example:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    max-width: 200px;
    max-height: 105px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
    /* Make the masthead heading the same height as the navigation */
    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#discounted {
    border: 2px solid red;
}

/*#resultPH td {
    padding: 5px;
}

#tablePH th {
    padding-left: 5px;
    padding-right: 5px;
}*/

button:not(.btn-default) {
    margin-left: 10px;
}

#flightOrderPanel {
    min-width: 485px;
    min-height: 265px;
    max-width: 485px;
    max-height: 265px;
}

#arrivalTime, #departureTime {
    width: 85%;
}

/*form {
    border: 1px solid black;
}*/
/*td {
            border: 1px solid black;
        }*/
#noBorder {
    border: 0px;
}

#searchRes {
    font-size: 20px;
}

.orderBTN {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 15px;
    border: none;
    width: 15%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.cancelOrderBTN {
    background-color: #FF0000;
    color: white;
    padding: 12px;
    margin: 15px;
    border: none;
    width: 15%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

input[type=text]:not(#arrivalTime):not(#departureTime), input[type=password], #discountStartDate, #discountEndDate {
    width: 40%;
    margin: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label:not(.fieldsetLabel) {
    margin: 7px;
    display: block;
}

#flightFormRow {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../formBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 485px;
    min-height: 265px;
    max-width: 485px;
    max-height: 265px;
}

#packageFormRow {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%), url("../packageFormBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 485px;
    min-height: 265px;
    max-width: 485px;
    max-height: 265px;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(51,181,199, 0.2);
    border-right: 1.1em solid rgba(51,181,199, 0.2);
    border-bottom: 1.1em solid rgba(51,181,199, 0.2);
    border-left: 1.1em solid #33b5c7;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hasTooltip {
    background-color: #5CAEB6 !important;
}

.companyImg {

}
